node_modules
out
*.tgz
coverage
*.lcov
bombardier
logs
_.log
report.*.json
.env*
my-app
.eslintcache
.cache
*.tsbuildinfo
.idea
.DS_Store
benchmark-output.json
dashboard-data.json
benchmarks
examples
tests
devtools-ui/src
devtools-ui/node_modules
!dist
!devtools-ui/dist
